<!-- views/index.ejs -->
<h1>Page d'accueil</h1>
<button onclick="window.location.href='/athletes'">Athlètes</button>
<button onclick="window.location.href='/events'">Événements</button>
<button onclick="window.location.href='/sports'">Sports</button>

